@charset "utf-8";
@import "./reset.scss";
@import "./common.scss";
$baseColor:#333; 
$white:#fff;
$titleSize:17px;
header { 
    background:$baseColor;
    height:64px;
    padding-top:20px;
    line-height:44px;
    ul{
        @include flexbox(); 
        li{
            @include flex();
            h1{
                font-weight:normal;
                font-size:$titleSize;
                color:$white;
                text-align:center;
            }
            span{
                color:$white;
                font-size:16px;
            }
            .back_icon{
                display:inline-block;
                width:26px;
                height:44px;
                background:url(../../../images/icon_back.png) scroll no-repeat center center;
                background-size:10px 22px;
                margin-left:0.06rem;
            }
            .close{
                /*iphone5*/
                margin-left:0.06rem;
                /*iphone6*/
                @media screen and (min-width:321px){
                    margin-left:0.14rem;
                }
                /*iphone6plus*/
                @media screen and (min-width:414px){
                    margin-left:0.16rem;
                }
                color:#fff;
            } 
        }
    }
}

